@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #f5f6fa;
  padding: 5vh 5vw;
  box-shadow: 0 0 6px #2f3640;
  z-index: 1;
}
header h1 a {
  font: bold 40px/50px "Gloock";
  color: #f5f6fa;
  text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
}
header h1 a:hover {
  color: #dcdde1;
}
header #snb {
  display: none;
}
header .btn-menu {
  display: none;
}
header #gnb {
  display: flex;
}
header #gnb li {
  margin: 0px 3vw;
}
header #gnb a {
  font: bold 16px/1 "Gloock";
  letter-spacing: 1px;
  color: #f5f6fa;
  text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
}
header #gnb a:hover {
  color: #dcdde1;
}
header .sns {
  display: flex;
}
header .sns li {
  margin: 0px 1vw;
}
header .sns a {
  color: #f5f6fa;
  text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
}
header .sns a:hover {
  color: #dcdde1;
}

figure {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
figure ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 6vw;
  transform: translateY(50%);
  font: 14px/1 "Architects Daughter";
  color: rgb(218, 218, 218);
  letter-spacing: 1px;
}
figure li {
  font: normal 16px/1.5 "Gloock";
  letter-spacing: 1px;
  color: #f5f6fa;
  text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
  margin-right: 30px;
}
figure a:hover {
  color: #dcdde1;
}
figure i {
  margin-right: 10px;
}
figure .text {
  position: absolute;
  left: 6vw;
  top: 50%;
  transform: translateY(50%);
}
figure .text p {
  font: normal 16px/1.5 "Gloock";
  letter-spacing: 1px;
  color: #f5f6fa;
  text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
}
figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  position: absolute;
  font: normal 12px/1 "Gloock";
  letter-spacing: 2px;
  color: #f5f6fa;
  text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 968px) {
  header #gnb {
    display: none;
  }
  header .sns {
    display: none;
  }
  header #snb {
    display: block;
  }
  header #snb .sub-menu {
    position: absolute;
    right: 5vw;
    background-color: transparent;
    -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
    border: 1px solid #f5f6fa;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    box-shadow: 0 0 6px #2f3640;
    transition: 0.4s;
  }
  header #snb .sub-menu.hide {
    opacity: 0;
  }
  header #snb .sub-menu li {
    padding: 15px;
    font: bold 16px/1 "Gloock";
    letter-spacing: 1px;
    color: #f5f6fa;
    text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
  }
  header #snb .sub-menu li a:hover {
    color: #dcdde1;
  }
  header #snb .sub-menu li:last-child a {
    margin: 10px;
  }
  header .btn-menu {
    color: #f5f6fa;
    text-shadow: -1px 0 #2f3640, 0 1px #2f3640, 1px 0 #2f3640, 0 -1px #2f3640;
    display: block;
    font-size: 28px;
  }
  header .btn-menu:hover {
    color: #dcdde1;
  }
  figure li {
    font-size: 20px;
  }
  figure .text p {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */